@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fffcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}
a:hover {
  color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #242424;
  background-color: #fffcfc;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 12px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
